/*––––––––––––––––––––––––––––––
GLOBALS
–––––––––––––––––––––––––––––––*/
body
{
	background-color: #F6F6F6;
	font-family: "minion-pro", serif;
	color: #000000;
	font-size: 28px;
	line-height: 30px;
	letter-spacing: -1px;	
	text-rendering: optimizeLegibility !important;
	   -webkit-font-smoothing: antialiased !important;
	transition: all .1s ease-out;
		-webkit-transition: all .1s ease-out;	
	padding-top: 72px;
}

body a,
body a:link,
body a:hover,
body a:active,
body a:visited
{
	color: #000000;
	text-decoration: none;
}

.row
{
	position: relative;
}

h2
{
	font-size: 52px;
	line-height: 52px;
	letter-spacing: -2px;
}

a
{
	display: block;
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	height: 256px;
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 0px #000000;
	border: 3px solid #000000;
	transform: translate(0px,0px);
	-webkit-transform: translate(0px,0px);
	transition: all .2s;
}

a:hover
{
	background-color: #FFF8D1;
	transform: translate(-4px,-4px);
	box-shadow: 8px 8px 0px #000000;
	-webkit-transform: translate(-4px,-4px);
	transition: all .2s;
}

a:active
{
	box-shadow: 3px 3px 0px #000000;
	transform: translate(1px, 1px);
	-webkit-transform: translate(1px,1px);
}

a img
{
	position: relative;
	margin-left: 8px;
	top: -10px;
	opacity: 0;
	width: 36px;
}

a:hover img
{
	opacity: 1;
}

a h3
{
	display: inline-block;	
	margin: 0;
	font-family: "balboa", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 46px;
	line-height: 46px;
}

a h3.condense
{
	letter-spacing: -2px;
}

a h4
{
	margin: 0;
	margin-top: 0px;
	display: block;
}

a span.related-app
{
	display: inline-block;
	font-family: "balboa", sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: -4px;
	float: right;
}


/*––––––––––––––––––––––––––––––
MEDIA QUERY
–––––––––––––––––––––––––––––––*/
@media (max-width: 768px)
{

	h2
	{
		font-size: 36px;
		line-height: 36px;
	}


}